body {
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;     
    padding: 25px 50px;             
}


h2 {
    text-align: center;
    margin-bottom: 42px;           
    color: #2f2f2f;                 
    letter-spacing: 0.5px;          
}


.container {
    display: flex;
    justify-content: center;       
    gap: 55px;                      
}


.left {
    width: 360px;                   
    background-color: #fffdfd;      
    padding: 22px 20px;           
    border-radius: 12px;
    box-shadow: 0 4px 11px rgba(0,0,0,0.11); 
}


.field {
    display: flex;
    align-items: center;
    margin-bottom: 19px;           
}

.field label {
    width: 135px;                   
    font-weight: 500;
    color: #4b4b4b;                 
}

.field input {
    flex: 1;
    padding: 9px 8px;               
    font-size: 14px;               
    border-radius: 5px;
    border: 1px solid #bfbfbf;     
}


button {
    width: 98%;                    
    padding: 11px;                 
    font-size: 14px;
    cursor: pointer;
    background-color: #0090ff;      
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.25s;
    margin-top: 5px;
}

button:hover {
    background-color: #006fc0;  
}


.right {
    width: 350px;                  
    background-color: #fffefc;      
    padding: 20px 18px;             
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


#taskList {
    margin-top: 13px;               
}

#taskList li {
    background-color: #f4f4f4;      
    padding: 8px 12px;            
    margin-bottom: 10px;
    border-radius: 5px;
    list-style-type: disc;        
}


#taskList li:first-child {
    background-color: #f6f6f6;
    padding-left: 13px;
}
